In [17]:
#importing pyspark
import pyspark

In [18]:
#importing sparksession
from pyspark.sql import SparkSession

In [19]:
#creating a sparksession object and providing appName
spark=SparkSession.builder.appName("business_case").getOrCreate()

In [16]:
spark.stop()

In [20]:
#To create dataframe form external Datasets
AirlineDF = spark.read.option("header","true").csv("airlines1.csv")

In [12]:
AirlineDF.show()

+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+------+--------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+--------+------+----------+-------+--------+---------------+--------+------------------+----------+---------+----------------+--------+--------------+-----------------+-------+-------+--------+-------------+------------+------------+--------+-------------+-----------------+------------+-------------+---------------+------------------+--------------+--------------------+-----------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+
|_c0|Year|Quarter|Month|DayofMonth|DayOfWeek|FlightDate|Reporting_Airline|DOT_ID_Reporting_Airline|IATA_CODE_Reporting_Airline|Tail_Number|Flight_Number_Reporting_Airline|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|      OriginCityName|OriginState|OriginStateFips|OriginStateName|OriginWac|DestAirportID|DestAirportSeqID|DestCityMarketID|Dest|        DestCityName|DestState|DestStateFips| DestStateName|DestWac|CRSDepTime|DepTime|DepDelay|DepDelayMinutes|DepDel15|DepartureDelayGroups|DepTimeBlk|TaxiOut|WheelsOff|WheelsOn|TaxiIn|CRSArrTime|ArrTime|ArrDelay|ArrDelayMinutes|ArrDel15|ArrivalDelayGroups|ArrTimeBlk|Cancelled|CancellationCode|Diverted|CRSElapsedTime|ActualElapsedTime|AirTime|Flights|Distance|DistanceGroup|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|FirstDepTime|TotalAddGTime|LongestAddGTime|DivAirportLandings|DivReachedDest|DivActualElapsedTime|DivArrDelay|DivDistance|Div1Airport|Div1AirportID|Div1AirportSeqID|Div1WheelsOn|Div1TotalGTime|Div1LongestGTime|Div1WheelsOff|Div1TailNum|Div2Airport|Div2AirportID|Div2AirportSeqID|Div2WheelsOn|Div2TotalGTime|Div2LongestGTime|Div2WheelsOff|Div2TailNum|Div3Airport|Div3AirportID|Div3AirportSeqID|Div3WheelsOn|Div3TotalGTime|Div3LongestGTime|Div3WheelsOff|Div3TailNum|Div4Airport|Div4AirportID|Div4AirportSeqID|Div4WheelsOn|Div4TotalGTime|Div4LongestGTime|Div4WheelsOff|Div4TailNum|Div5Airport|Div5AirportID|Div5AirportSeqID|Div5WheelsOn|Div5TotalGTime|Div5LongestGTime|Div5WheelsOff|Div5TailNum|
+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+------+--------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+--------+------+----------+-------+--------+---------------+--------+------------------+----------+---------+----------------+--------+--------------+-----------------+-------+-------+--------+-------------+------------+------------+--------+-------------+-----------------+------------+-------------+---------------+------------------+--------------+--------------------+-----------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+
|  0|1998|      1|    1|         2|        5|1998-01-02|               NW|                   19386|                         NW|     N297US|                            675|          13487|           1348701|             31650|   MSP|     Minneapolis, MN|         MN|           27.0|      Minnesota|       63|        14869|         1486902|           34614| SLC|  Salt Lake City, UT|       UT|         49.0|          Utah|     87|      1640| 1659.0|    19.0|           19.0|     1.0|                 1.0| 1600-1659|   24.0|   1723.0|  1856.0|   3.0|      1836| 1859.0|    23.0|           23.0|     1.0|               1.0| 1800-1859|      0.0|            null|     0.0|         176.0|            180.0|  153.0|    1.0|   991.0|            4|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  1|2009|      2|    5|        28|        4|2009-05-28|               FL|                   20437|                         FL|     N946AT|                            671|          13342|           1334202|             33342|   MKE|       Milwaukee, WI|         WI|           55.0|      Wisconsin|       45|        13204|         1320401|           31454| MCO|         Orlando, FL|       FL|         12.0|       Florida|     33|      1204| 1202.0|    -2.0|            0.0|     0.0|                -1.0| 1200-1259|   10.0|   1212.0|  1533.0|   8.0|      1541| 1541.0|     0.0|            0.0|     0.0|               0.0| 1500-1559|      0.0|            null|     0.0|         157.0|            159.0|  141.0|    1.0|  1066.0|            5|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  2|2013|      2|    6|        29|        6|2013-06-29|               MQ|                   20398|                         MQ|     N665MQ|                           3297|          11921|           1192102|             31921|   GJT|  Grand Junction, CO|         CO|            8.0|       Colorado|       82|        11298|         1129803|           30194| DFW|Dallas/Fort Worth...|       TX|         48.0|         Texas|     74|      1630| 1644.0|    14.0|           14.0|     0.0|                 0.0| 1600-1659|    9.0|   1653.0|  1936.0|   6.0|      1945| 1942.0|    -3.0|            0.0|     0.0|              -1.0| 1900-1959|      0.0|            null|     0.0|         135.0|            118.0|  103.0|    1.0|   773.0|            4|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  3|2010|      3|    8|        31|        2|2010-08-31|               DL|                   19790|                         DL|     N6705Y|                           1806|          12892|           1289201|             32575|   LAX|     Los Angeles, CA|         CA|            6.0|     California|       91|        11433|         1143301|           31295| DTW|         Detroit, MI|       MI|         26.0|      Michigan|     43|      1305| 1305.0|     0.0|            0.0|     0.0|                 0.0| 1300-1359|   23.0|   1328.0|  2008.0|   7.0|      2035| 2015.0|   -20.0|            0.0|     0.0|              -2.0| 2000-2059|      0.0|            null|     0.0|         270.0|            250.0|  220.0|    1.0|  1979.0|            8|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  4|2006|      1|    1|        15|        7|2006-01-15|               US|                   20355|                         US|     N504AU|                            465|          11618|           1161801|             31703|   EWR|          Newark, NJ|         NJ|           34.0|     New Jersey|       21|        11057|         1105702|           31057| CLT|       Charlotte, NC|       NC|         37.0|North Carolina|     36|      1820| 1911.0|    51.0|           51.0|     1.0|                 3.0| 1800-1859|   19.0|   1930.0|  2050.0|   8.0|      2026| 2058.0|    32.0|           32.0|     1.0|               2.0| 2000-2059|      0.0|            null|     0.0|         126.0|            107.0|   80.0|    1.0|   529.0|            3|         0.0|         0.0|     0.0|          0.0|             32.0|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  5|1995|      4|   11|        29|        3|1995-11-29|               DL|                   19790|                         DL|     N925DL|                           1198|          11298|           1129802|             30194|   DFW|Dallas/Fort Worth...|         TX|           48.0|          Texas|       74|        14814|         1481401|           30476| SHV|      Shreveport, LA|       LA|         22.0|     Louisiana|     72|       639|  639.0|     0.0|            0.0|     0.0|                 0.0| 0600-0659|   29.0|    708.0|   736.0|   5.0|       730|  741.0|    11.0|           11.0|     0.0|               0.0| 0700-0759|      0.0|            null|     0.0|          51.0|             62.0|   28.0|    1.0|   190.0|            1|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  6|2006|      3|    8|         7|        1|2006-08-07|               CO|                   19704|                         CO|     N27724|                           1431|          10721|           1072101|             30721|   BOS|          Boston, MA|         MA|           25.0|  Massachusetts|       13|        11042|         1104201|           30647| CLE|       Cleveland, OH|       OH|         39.0|          Ohio|     44|      1755| 1751.0|    -4.0|            0.0|     0.0|                -1.0| 1700-1759|   33.0|   1824.0|  1958.0|   4.0|      2000| 2002.0|     2.0|            2.0|     0.0|               0.0| 2000-2059|      0.0|            null|     0.0|         125.0|            131.0|   94.0|    1.0|   563.0|            3|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  7|2019|      2|    6|        11|        2|2019-06-11|               9E|                   20363|                         9E|     N927XJ|                           3459|          10397|           1039707|             30397|   ATL|         Atlanta, GA|         GA|           13.0|        Georgia|       34|        10868|         1086803|           30868| CAE|        Columbia, SC|       SC|         45.0|South Carolina|     37|      1950| 2331.0|   221.0|          221.0|     1.0|                12.0| 1900-1959|   19.0|   2350.0|    25.0|   6.0|      2057|   31.0|   214.0|          214.0|     1.0|              12.0| 2000-2059|      0.0|            null|     0.0|          67.0|             60.0|   35.0|    1.0|   192.0|            1|         0.0|         0.0|     0.0|          0.0|            214.0|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  8|2008|      3|    8|         3|        7|2008-08-03|               YV|                   20378|                         YV|     N522LR|                           7233|          13930|           1393001|             30977|   ORD|         Chicago, IL|         IL|           17.0|       Illinois|       41|        11042|         1104201|           30647| CLE|       Cleveland, OH|       OH|         39.0|          Ohio|     44|      1550| 1552.0|     2.0|            2.0|     0.0|                 0.0| 1500-1559|   26.0|   1618.0|  1817.0|   3.0|      1810| 1820.0|    10.0|           10.0|     0.0|               0.0| 1800-1859|      0.0|            null|     0.0|          80.0|             88.0|   59.0|    1.0|   316.0|            2|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  9|2018|      1|    2|         8|        4|2018-02-08|               WN|                   19393|                         WN|     N8688J|                           5932|          13232|           1323202|             30977|   MDW|         Chicago, IL|         IL|           17.0|       Illinois|       41|        11259|         1125903|           30194| DAL|          Dallas, TX|       TX|         48.0|         Texas|     74|      2030| 2046.0|    16.0|           16.0|     1.0|                 1.0| 2000-2059|   34.0|   2120.0|  2314.0|   5.0|      2250| 2319.0|    29.0|           29.0|     1.0|               1.0| 2200-2259|      0.0|            null|     0.0|         140.0|            153.0|  114.0|    1.0|   793.0|            4|         0.0|         0.0|    13.0|          0.0|             16.0|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|

In [21]:
#for all columns 
AirlineDF.columns

['_c0',
 'Year',
 'Quarter',
 'Month',
 'DayofMonth',
 'DayOfWeek',
 'FlightDate',
 'Reporting_Airline',
 'DOT_ID_Reporting_Airline',
 'IATA_CODE_Reporting_Airline',
 'Tail_Number',
 'Flight_Number_Reporting_Airline',
 'OriginAirportID',
 'OriginAirportSeqID',
 'OriginCityMarketID',
 'Origin',
 'OriginCityName',
 'OriginState',
 'OriginStateFips',
 'OriginStateName',
 'OriginWac',
 'DestAirportID',
 'DestAirportSeqID',
 'DestCityMarketID',
 'Dest',
 'DestCityName',
 'DestState',
 'DestStateFips',
 'DestStateName',
 'DestWac',
 'CRSDepTime',
 'DepTime',
 'DepDelay',
 'DepDelayMinutes',
 'DepDel15',
 'DepartureDelayGroups',
 'DepTimeBlk',
 'TaxiOut',
 'WheelsOff',
 'WheelsOn',
 'TaxiIn',
 'CRSArrTime',
 'ArrTime',
 'ArrDelay',
 'ArrDelayMinutes',
 'ArrDel15',
 'ArrivalDelayGroups',
 'ArrTimeBlk',
 'Cancelled',
 'CancellationCode',
 'Diverted',
 'CRSElapsedTime',
 'ActualElapsedTime',
 'AirTime',
 'Flights',
 'Distance',
 'DistanceGroup',
 'CarrierDelay',
 'WeatherDelay',
 'NASDelay',
 'SecurityDelay',
 'LateAircraftDelay',
 'FirstDepTime',
 'TotalAddGTime',
 'LongestAddGTime',
 'DivAirportLandings',
 'DivReachedDest',
 'DivActualElapsedTime',
 'DivArrDelay',
 'DivDistance',
 'Div1Airport',
 'Div1AirportID',
 'Div1AirportSeqID',
 'Div1WheelsOn',
 'Div1TotalGTime',
 'Div1LongestGTime',
 'Div1WheelsOff',
 'Div1TailNum',
 'Div2Airport',
 'Div2AirportID',
 'Div2AirportSeqID',
 'Div2WheelsOn',
 'Div2TotalGTime',
 'Div2LongestGTime',
 'Div2WheelsOff',
 'Div2TailNum',
 'Div3Airport',
 'Div3AirportID',
 'Div3AirportSeqID',
 'Div3WheelsOn',
 'Div3TotalGTime',
 'Div3LongestGTime',
 'Div3WheelsOff',
 'Div3TailNum',
 'Div4Airport',
 'Div4AirportID',
 'Div4AirportSeqID',
 'Div4WheelsOn',
 'Div4TotalGTime',
 'Div4LongestGTime',
 'Div4WheelsOff',
 'Div4TailNum',
 'Div5Airport',
 'Div5AirportID',
 'Div5AirportSeqID',
 'Div5WheelsOn',
 'Div5TotalGTime',
 'Div5LongestGTime',
 'Div5WheelsOff',
 'Div5TailNum']

<h1> create multiple dataframes as per data information </h1>

In [22]:
AirlineTimeInfo = AirlineDF.select("_c0","Year","Quarter","Month","DayofMonth","DayofWeek","FlightDate")
AirlineInfo = AirlineDF.select("_c0","Reporting_Airline","DOT_ID_Reporting_Airline","IATA_CODE_Reporting_Airline","Tail_Number","Flight_Number_Reporting_Airline")
AirlineOriginInfo = AirlineDF.select("_c0","OriginAirportID","OriginAirportSeqID", "OriginCityMarketID", "Origin", "OriginCityName" , "OriginState", "OriginStateFips", "OriginStateName", "OriginWac" )
AirlineDestinationInfo = AirlineDF.select("_c0","DestAirportID","DestAirportSeqID", "DestCityMarketID", "Dest", "DestCityName" , "DestState", "DestStateFips", "DestStateName", "DestWac" )
AirlineDepartureInfo = AirlineDF.select("_c0","CRSDepTime","DepTime", "DepDelay", "DepDelayMinutes", "DepDel15" , "DepartureDelayGroups", "DepTimeBlk", "TaxiOut", "WheelsOff" )
AirlineArrivalInfo = AirlineDF.select("_c0","WheelsOn","TaxiIn", "CRSArrTime", "ArrTime", "ArrDelay" , "ArrDelayMinutes", "ArrDel15", "ArrivalDelayGroups", "ArrTimeBlk" )
AirlineCanDivInfo = AirlineDF.select("_c0","Cancelled","CancellationCode", "Diverted" )
AirlineSummry = AirlineDF.select("_c0","CRSElapsedTime","ActualElapsedTime", "AirTime", "Flights", "Distance" , "DistanceGroup" )
AirlineDelayInfo = AirlineDF.select("_c0","CarrierDelay","WeatherDelay", "NASDelay", "SecurityDelay", "LateAircraftDelay" )

In [15]:
#AirlineTimeInfo.summary().show()
AirlineTimeInfo.show()

+---+----+-------+-----+----------+---------+----------+
|_c0|Year|Quarter|Month|DayofMonth|DayofWeek|FlightDate|
+---+----+-------+-----+----------+---------+----------+
|  0|1998|      1|    1|         2|        5|1998-01-02|
|  1|2009|      2|    5|        28|        4|2009-05-28|
|  2|2013|      2|    6|        29|        6|2013-06-29|
|  3|2010|      3|    8|        31|        2|2010-08-31|
|  4|2006|      1|    1|        15|        7|2006-01-15|
|  5|1995|      4|   11|        29|        3|1995-11-29|
|  6|2006|      3|    8|         7|        1|2006-08-07|
|  7|2019|      2|    6|        11|        2|2019-06-11|
|  8|2008|      3|    8|         3|        7|2008-08-03|
|  9|2018|      1|    2|         8|        4|2018-02-08|
| 10|1991|      4|   11|        21|        4|1991-11-21|
| 11|2014|      2|    4|         3|        4|2014-04-03|
| 12|1994|      3|    7|        24|        7|1994-07-24|
| 13|2013|      2|    6|        30|        7|2013-06-30|
| 14|2003|      4|   11|        21|        5|2003-11-21|
| 15|1988|      2|    4|         4|        1|1988-04-04|
| 16|2007|      3|    9|         5|        3|2007-09-05|
| 17|2015|      3|    9|         5|        6|2015-09-05|
| 18|2006|      1|    1|        28|        6|2006-01-28|
| 19|2017|      3|    7|        26|        3|2017-07-26|
+---+----+-------+-----+----------+---------+----------+
only showing top 20 rows

In [23]:
#Calculate total no of flights
AirlineTimeInfo.select('_c0').count()

50001

In [24]:
#select year form 2015 to 2020
AirlineTimeInfo.select('Year','FlightDate').filter((AirlineTimeInfo.Year >= 2015) & (AirlineTimeInfo.Year <=2020)).show()

+----+----------+
|Year|FlightDate|
+----+----------+
|2019|2019-06-11|
|2018|2018-02-08|
|2015|2015-09-05|
|2017|2017-07-26|
|2020|2020-03-24|
|2019|2019-09-02|
|2019|2019-03-27|
|2016|2016-03-09|
|2018|2018-06-25|
|2015|2015-03-12|
|2017|2017-05-05|
|2017|2017-03-10|
|2019|2019-02-13|
|2015|2015-03-17|
|2016|2016-05-25|
|2016|2016-05-04|
|2016|2016-08-12|
|2017|2017-03-09|
|2016|2016-06-13|
|2019|2019-05-08|
+----+----------+
only showing top 20 rows

In [25]:
AirlineInfo.show()

+---+-----------------+------------------------+---------------------------+-----------+-------------------------------+
|_c0|Reporting_Airline|DOT_ID_Reporting_Airline|IATA_CODE_Reporting_Airline|Tail_Number|Flight_Number_Reporting_Airline|
+---+-----------------+------------------------+---------------------------+-----------+-------------------------------+
|  0|               NW|                   19386|                         NW|     N297US|                            675|
|  1|               FL|                   20437|                         FL|     N946AT|                            671|
|  2|               MQ|                   20398|                         MQ|     N665MQ|                           3297|
|  3|               DL|                   19790|                         DL|     N6705Y|                           1806|
|  4|               US|                   20355|                         US|     N504AU|                            465|
|  5|               DL|                   19790|                         DL|     N925DL|                           1198|
|  6|               CO|                   19704|                         CO|     N27724|                           1431|
|  7|               9E|                   20363|                         9E|     N927XJ|                           3459|
|  8|               YV|                   20378|                         YV|     N522LR|                           7233|
|  9|               WN|                   19393|                         WN|     N8688J|                           5932|
| 10|               US|                   20355|                         US|       null|                           2135|
| 11|               WN|                   19393|                         WN|     N374SW|                           1463|
| 12|               AA|                   19805|                         AA|       null|                            830|
| 13|               OO|                   20304|                         OO|     N947SW|                           6474|
| 14|               UA|                   19977|                         UA|     N308UA|                            674|
| 15|               PI|                   19822|                         PI|       null|                            362|
| 16|               NW|                   19386|                         NW|     N8928E|                           1678|
| 17|               AS|                   19930|                         AS|     N589AS|                            413|
| 18|               UA|                   19977|                         UA|     N426UA|                            210|
| 19|               WN|                   19393|                         WN|     N252WN|                            995|
+---+-----------------+------------------------+---------------------------+-----------+-------------------------------+
only showing top 20 rows

In [26]:
#AirlineInfo.select('IATA_CODE_Reporting_Airline').groupBy('IATA_CODE_Reporting_Airline').count().show()'
##Group data by Carrier which is Reporting Airline
AirlineInfo.select('Reporting_Airline').groupBy('Reporting_Airline').count().show()

+-----------------+-----+
|Reporting_Airline|count|
+-----------------+-----+
|               UA| 4830|
|               EA|  237|
|               PI|  238|
|               NK|  213|
|               PS|   16|
|               AA| 5834|
|               NW| 2792|
|               EV| 1749|
|               B6|  905|
|               HP|  899|
|               TW|  949|
|               DL| 6691|
|               OO| 2719|
|               F9|  372|
|               YV|  562|
|               TZ|   54|
|               US| 4230|
|               MQ| 2015|
|               OH|  607|
|               HA|  304|
+-----------------+-----+
only showing top 20 rows

In [27]:
CarrierDF = spark.read.option("header","true").csv("carriers.csv")

In [28]:
CarrierDF.show(200)

+------+--------------------+
|  Code|         Description|
+------+--------------------+
|   02Q|       Titan Airways|
|   04Q|  Tradewind Aviation|
|   05Q| Comlux Aviation, AG|
|   06Q|Master Top Linhas...|
|   07Q| Flair Airlines Ltd.|
|   09Q|      Swift Air, LLC|
|   0BQ|                 DCA|
|   0CQ|ACM AIR CHARTER GmbH|
|   0FQ|Maine Aviation Ai...|
|   0GQ|Inter Island Airw...|
|   0HQ|Polar Airlines de...|
|    0J|          JetClub AG|
|   0JQ|     Vision Airlines|
|   0KQ|Mokulele Flight S...|
|   0LQ|   Metropix UK, LLP.|
|   0MQ|Multi-Aero, Inc. ...|
|    0Q| Flying Service N.V.|
|    16|   PSA Airlines Inc.|
|    17|   Piedmont Airlines|
|    1I|Sky Trek Int'l Ai...|
|    2E| Smokey Bay Air Inc.|
|    2F|Frontier Flying S...|
|    2M|Midway Express Ai...|
|    2O|  Island Air Service|
|    2R|           Regal Air|
|    2T|Canada 3000 Airli...|
|    2U|Valley Air Expres...|
|    37|            Zeal 320|
|    3C|   Regions Air, Inc.|
|    3F|Pacific Airways, ...|
|    3M|      Gulfstream Int|
|    3Z|Tatonduk Flying S...|
|    4B|   Olson Air Service|
|    4E|  Tanana Air Service|
|4E (1)|British Airtours ...|
|    4H|    Belize Trans Air|
|    4M|       LAN Argentina|
|4M (1)|        Lan Dominica|
|    4N|           Air North|
|    4R|Regent Air Corpor...|
|    4S|Sol Air (Aero Hun...|
|4S (1)|Conner Air Lines ...|
|    4T|Belair Airlines Ltd.|
|    4W|            Warbelow|
|    4Y|Yute Air Aka Flig...|
|    5B|        Bellair Inc.|
|    5C|C.A.L Cargo Airlines|
|    5D|         Aerolitoral|
|    5F|Arctic Circle Air...|
|    5G|Skyservice Airlin...|
|5G (1)|           Queen Air|
|    5J|Private Jet Exped...|
|    5X|United Parcel Ser...|
|    5Y|      Atlas Air Inc.|
|    6A|    Aviacsa Airlines|
|    6B|Britannia Airways...|
|    6C|Cape Smythe Air S...|
|    6F|  Laker Airways Inc.|
|    6H|     Israir Airlines|
|    6P|Pacific East Air ...|
|    6R|Aerounion Aerotra...|
|    6U|         Air Ukraine|
|    6Y|Nicaraguense De A...|
|    7B|             Krasair|
|    7F|           First Air|
|    7G|    MK Airlines Ltd.|
|7G (1)|    Bellair Inc. (1)|
|    7H|        Era Aviation|
|    7M|  Aeromonterrey S.A.|
|    7N|Inland Aviation S...|
|    7P|Apa International...|
|    7S|Arctic Transporta...|
|7S (1)|Skystar Internati...|
|    7Z|          Lb Limited|
|    8C|Air Transport Int...|
|    8D|    Servant Air Inc.|
|    8E|     Bering Air Inc.|
|    8F|        Wilburs Inc.|
|    8J|      Jetall Airways|
|    8L|Servicio Aereo Le...|
|    8N|Flagship Airlines...|
|    8Q| Baker Aviation Inc.|
|    8R|    Edelweiss Air Ag|
|    8V|  Wright Air Service|
|    9E|Pinnacle Airlines...|
|    9J|Pacific Island Av...|
|    9K|            Cape Air|
|    9L|          Colgan Air|
|    9M|Central Mountain Air|
|    9N|ANA & JP Express ...|
|    9R|Flagship Express ...|
|    9S|   Southern Air Inc.|
|    9T|TravelspanGT, Inc...|
|    9V|Avior Airlines, C.A.|
|    9W|Jet Airways (Indi...|
|    A0|Elysair d/b/a L'A...|
|    A2|      Cielos De Peru|
|    A4|Southern Wind Air...|
|    A7|      Air Comet S.A.|
|A7 (1)|              Air 21|
|    AA|American Airlines...|
|   AAA|Associated Aviati...|
|   AAB|Antilles Air Boat...|
|   AAE|        AAA Airlines|
|   AAI|       Audi Air Inc.|
|   AAL|Argosy Air Lines ...|
|   AAP|Armstrong Air Ser...|
|   AAQ|Advance Air Charters|
|   AAR|Altair Airlines Inc.|
|   AAT|   Air Sunshine Inc.|
|   AAV|          Alpine Air|
|   AAZ|Alaska Aeronautic...|
|   ABH|           Air Bahia|
|   ABI|Airbama Incorporated|
|   ABO|Aeronaves Boringu...|
|   ABX|       Abx Air, Inc.|
|    AC|          Air Canada|
|   ACA|Alaska Central Ai...|
|   ACD|    Academy Airlines|
|   ACG|Air Cargo Express...|
|   ACH|Island Airlines H...|
|   ACI|AAA-Action Air Ca...|
|   ACJ|Atlantic Coast Je...|
|   ACK|    Air Central Inc.|
|   ACL|      Check-Air Inc.|
|   ACN|   Alliance Airlines|
|   ACO|Air Cargo Enterpr...|
|   ACP|  Air Chaparral Inc.|
|   ACQ|Aeronautica De Ca...|
|   ACS|Alamo Commuter Ai...|
|   ACT|Air Central Inc. (1)|
|   ACW|Transwest Air Exp...|
|    AD|Avia Leasing Company|
|   ADQ|  Aeronaves Del Peru|
|   ADR| Adirondack Airlines|
|   ADV|  Advantage Airlines|
|    AE|  Air Europe Limited|
|   AEC| Astec Air East Inc.|
|   AED|Air East Of Delaw...|
|   AEF|        Aero Freight|
|   AEO|          Aero Coach|
|   AEQ|   Air Caravane Inc.|
|   AEX|  Air Excursions LLC|
|    AF|Compagnie Nat'l A...|
|   AFA|American Flag Air...|
|   AFE| Air Florida Express|
|   AFG|American Flight G...|
|   AFQ|Aero B Venezuela ...|
|   AFS|Arcata Flying Ser...|
|   AGA|Air Cargo America...|
|   AGQ|          Argo S. A.|
|   AHA|           Air Alpha|
|   AHC|          Air Hawaii|
|   AHQ|        Air National|
|    AI|           Air-India|
|   AIA|      All Island Air|
|   AIC|       Air Caribbean|
|   AIE|    Air Express Inc.|
|   AIG|          Airgo Inc.|
|   AIK|Air Ketchum Idaho...|
|   AIM|      Air Mont. Inc.|
|   AIN|         Air Indiana|
|   AIQ|           Norontair|
|   AIT|Airways Internati...|
|   AIY|        Alliance Air|
|    AJ| Air Micronesia Inc.|
|   AJQ|   Aerodynamics Inc.|
|   AKQ|Airmark Airlines ...|
|    AL|     Skyway Airlines|
|   ALD|     Allied Airlines|
|   ALE|Air-Lift Associat...|
|   ALI|          Brandt Air|
|   ALK|    Air Link Airways|
|   ALL|All Seasons Air P...|
|   ALQ|Alberta Northern ...|
|   ALS|            Air L.A.|
|   ALT|      Altus Airlines|
|   ALU|        Aleutian Air|
|   ALX|     Atlanta Express|
|    AM|          Aeromexico|
|   AMA|North American Ai...|
|   AME|      Americair Inc.|
|   AMI|American Inter-Is...|
|   AMQ| Ameristar Air Cargo|
|   AMR|               AvAir|
|   AMT|American Air Tran...|
|   ANB|   Air Nebraska Inc.|
|   ANC|        Atlantic Air|
|   AND|Southcentral Air ...|
|   ANI|Dash Air Corporation|
|   ANM|Airways Of New Me...|
|   ANO|Metro Air Northea...|
|   ANT|    Air North/Nenana|
|    AO|Aviacion Y Comerc...|
|   AOI|      Trans New York|
|   AON|     Action Airlines|
|   AOQ|       Aerovias S.A.|
|   AOR|     Air New Orleans|
|   APE|            Air Cape|
|   APH|           Alpha Air|
+------+--------------------+
only showing top 200 rows

In [29]:
AirlineOriginInfo.show(5)

+---+---------------+------------------+------------------+------+------------------+-----------+---------------+---------------+---------+
|_c0|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|    OriginCityName|OriginState|OriginStateFips|OriginStateName|OriginWac|
+---+---------------+------------------+------------------+------+------------------+-----------+---------------+---------------+---------+
|  0|          13487|           1348701|             31650|   MSP|   Minneapolis, MN|         MN|           27.0|      Minnesota|       63|
|  1|          13342|           1334202|             33342|   MKE|     Milwaukee, WI|         WI|           55.0|      Wisconsin|       45|
|  2|          11921|           1192102|             31921|   GJT|Grand Junction, CO|         CO|            8.0|       Colorado|       82|
|  3|          12892|           1289201|             32575|   LAX|   Los Angeles, CA|         CA|            6.0|     California|       91|
|  4|          11618|           1161801|             31703|   EWR|        Newark, NJ|         NJ|           34.0|     New Jersey|       21|
+---+---------------+------------------+------------------+------+------------------+-----------+---------------+---------------+---------+
only showing top 5 rows

In [30]:
AirlineDestinationInfo.show(5)

+---+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+
|_c0|DestAirportID|DestAirportSeqID|DestCityMarketID|Dest|        DestCityName|DestState|DestStateFips| DestStateName|DestWac|
+---+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+
|  0|        14869|         1486902|           34614| SLC|  Salt Lake City, UT|       UT|         49.0|          Utah|     87|
|  1|        13204|         1320401|           31454| MCO|         Orlando, FL|       FL|         12.0|       Florida|     33|
|  2|        11298|         1129803|           30194| DFW|Dallas/Fort Worth...|       TX|         48.0|         Texas|     74|
|  3|        11433|         1143301|           31295| DTW|         Detroit, MI|       MI|         26.0|      Michigan|     43|
|  4|        11057|         1105702|           31057| CLT|       Charlotte, NC|       NC|         37.0|North Carolina|     36|
+---+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+
only showing top 5 rows

In [31]:
AirlineDepartureInfo.show(5)

+---+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+
|_c0|CRSDepTime|DepTime|DepDelay|DepDelayMinutes|DepDel15|DepartureDelayGroups|DepTimeBlk|TaxiOut|WheelsOff|
+---+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+
|  0|      1640| 1659.0|    19.0|           19.0|     1.0|                 1.0| 1600-1659|   24.0|   1723.0|
|  1|      1204| 1202.0|    -2.0|            0.0|     0.0|                -1.0| 1200-1259|   10.0|   1212.0|
|  2|      1630| 1644.0|    14.0|           14.0|     0.0|                 0.0| 1600-1659|    9.0|   1653.0|
|  3|      1305| 1305.0|     0.0|            0.0|     0.0|                 0.0| 1300-1359|   23.0|   1328.0|
|  4|      1820| 1911.0|    51.0|           51.0|     1.0|                 3.0| 1800-1859|   19.0|   1930.0|
+---+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+
only showing top 5 rows

In [32]:
#Find flights 15 min or more than 15 min delay departure
AirlineDepartureInfo.select('_c0','DepDelayMinutes').filter('DepDelayMinutes >= 15').show()

+---+---------------+
|_c0|DepDelayMinutes|
+---+---------------+
|  0|           19.0|
|  4|           51.0|
|  7|          221.0|
|  9|           16.0|
| 23|           52.0|
| 44|           38.0|
| 45|          129.0|
| 49|           25.0|
| 50|           32.0|
| 60|           21.0|
| 65|          215.0|
| 74|           39.0|
| 80|           30.0|
| 82|           84.0|
| 97|           37.0|
|102|           24.0|
|103|           16.0|
|104|           18.0|
|107|          116.0|
|114|           33.0|
+---+---------------+
only showing top 20 rows

In [33]:
#Calculate total no of departure delay flights (15min or more than 15min delay)
AirlineDepartureInfo.select('DepDelayMinutes').filter('DepDelayMinutes>= 15').count()

8438

In [34]:
AirlineArrivalInfo.show(5)

+---+--------+------+----------+-------+--------+---------------+--------+------------------+----------+
|_c0|WheelsOn|TaxiIn|CRSArrTime|ArrTime|ArrDelay|ArrDelayMinutes|ArrDel15|ArrivalDelayGroups|ArrTimeBlk|
+---+--------+------+----------+-------+--------+---------------+--------+------------------+----------+
|  0|  1856.0|   3.0|      1836| 1859.0|    23.0|           23.0|     1.0|               1.0| 1800-1859|
|  1|  1533.0|   8.0|      1541| 1541.0|     0.0|            0.0|     0.0|               0.0| 1500-1559|
|  2|  1936.0|   6.0|      1945| 1942.0|    -3.0|            0.0|     0.0|              -1.0| 1900-1959|
|  3|  2008.0|   7.0|      2035| 2015.0|   -20.0|            0.0|     0.0|              -2.0| 2000-2059|
|  4|  2050.0|   8.0|      2026| 2058.0|    32.0|           32.0|     1.0|               2.0| 2000-2059|
+---+--------+------+----------+-------+--------+---------------+--------+------------------+----------+
only showing top 5 rows

In [35]:
#Find flights 15 min or more than 15 min delay Arrive 
AirlineArrivalInfo.select('_c0','ArrDelayMinutes').filter('ArrDelayMinutes >= 15').show()

+---+---------------+
|_c0|ArrDelayMinutes|
+---+---------------+
|  0|           23.0|
|  4|           32.0|
|  7|          214.0|
|  9|           29.0|
| 23|           44.0|
| 24|           17.0|
| 29|           39.0|
| 41|           84.0|
| 44|           22.0|
| 45|          119.0|
| 47|           18.0|
| 49|           19.0|
| 50|           35.0|
| 55|           24.0|
| 60|           21.0|
| 65|          221.0|
| 74|           26.0|
| 77|           22.0|
| 82|           89.0|
| 90|           16.0|
+---+---------------+
only showing top 20 rows

In [36]:
#Calculate total no of Arrival delay flights (15min or more than 15min delay)
AirlineArrivalInfo.select('ArrDelayMinutes').filter('ArrDelayMinutes >=15').count()

9775

In [37]:
AirlineCanDivInfo.show(5)

+---+---------+----------------+--------+
|_c0|Cancelled|CancellationCode|Diverted|
+---+---------+----------------+--------+
|  0|      0.0|            null|     0.0|
|  1|      0.0|            null|     0.0|
|  2|      0.0|            null|     0.0|
|  3|      0.0|            null|     0.0|
|  4|      0.0|            null|     0.0|
+---+---------+----------------+--------+
only showing top 5 rows

In [38]:
#Calculate total number of cancelled flights 
AirlineCanDivInfo.select('Cancelled').filter('Cancelled == 1 ').count()

878

In [39]:
#Calculate total number of diverted flights 
AirlineCanDivInfo.select('Diverted').filter('Diverted == 1').count()

133

In [40]:
AirlineSummry.show(5)

+---+--------------+-----------------+-------+-------+--------+-------------+
|_c0|CRSElapsedTime|ActualElapsedTime|AirTime|Flights|Distance|DistanceGroup|
+---+--------------+-----------------+-------+-------+--------+-------------+
|  0|         176.0|            180.0|  153.0|    1.0|   991.0|            4|
|  1|         157.0|            159.0|  141.0|    1.0|  1066.0|            5|
|  2|         135.0|            118.0|  103.0|    1.0|   773.0|            4|
|  3|         270.0|            250.0|  220.0|    1.0|  1979.0|            8|
|  4|         126.0|            107.0|   80.0|    1.0|   529.0|            3|
+---+--------------+-----------------+-------+-------+--------+-------------+
only showing top 5 rows

In [41]:
AirlineDelayInfo.show(5)

+---+------------+------------+--------+-------------+-----------------+
|_c0|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+---+------------+------------+--------+-------------+-----------------+
|  0|        null|        null|    null|         null|             null|
|  1|        null|        null|    null|         null|             null|
|  2|        null|        null|    null|         null|             null|
|  3|        null|        null|    null|         null|             null|
|  4|         0.0|         0.0|     0.0|          0.0|             32.0|
+---+------------+------------+--------+-------------+-----------------+
only showing top 5 rows

In [42]:
#Calculate total no of CarrierDelay
AirlineDelayInfo.select('CarrierDelay').filter('CarrierDelay > 0').count()

2663

In [43]:
#Calculate total no of WeatherDelay
AirlineDelayInfo.select('WeatherDelay').filter('WeatherDelay > 0').count()

360

In [44]:
#Calculate total no of NASDelay
AirlineDelayInfo.select("NASDelay").filter("NASDelay > 0").count()

3202

In [45]:
#Calculate total no of LateAircraftDelay
AirlineDelayInfo.select('LateAircraftDelay').filter('LateAircraftDelay > 0').count()

2685

In [46]:
#Calculate total no of SecurityDelay
AirlineDelayInfo.select('SecurityDelay').filter('SecurityDelay > 0').count()

21

<h1> Joins </h1>

In [47]:
# Join two dataframe
AirlineTimeInfo.join(AirlineInfo, AirlineTimeInfo._c0 == AirlineInfo._c0).show(2)

+---+----+-------+-----+----------+---------+----------+---+-----------------+------------------------+---------------------------+-----------+-------------------------------+
|_c0|Year|Quarter|Month|DayofMonth|DayofWeek|FlightDate|_c0|Reporting_Airline|DOT_ID_Reporting_Airline|IATA_CODE_Reporting_Airline|Tail_Number|Flight_Number_Reporting_Airline|
+---+----+-------+-----+----------+---------+----------+---+-----------------+------------------------+---------------------------+-----------+-------------------------------+
|  0|1998|      1|    1|         2|        5|1998-01-02|  0|               NW|                   19386|                         NW|     N297US|                            675|
|  1|2009|      2|    5|        28|        4|2009-05-28|  1|               FL|                   20437|                         FL|     N946AT|                            671|
+---+----+-------+-----+----------+---------+----------+---+-----------------+------------------------+---------------------------+-----------+-------------------------------+
only showing top 2 rows

In [48]:
# Join three dataframe
AirlineTimeInfo.join(AirlineInfo,["_c0"]).join(AirlineCanDivInfo,AirlineTimeInfo["_c0"] == AirlineCanDivInfo["_c0"]).show(2)

+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---+---------+----------------+--------+
|_c0|Year|Quarter|Month|DayofMonth|DayofWeek|FlightDate|Reporting_Airline|DOT_ID_Reporting_Airline|IATA_CODE_Reporting_Airline|Tail_Number|Flight_Number_Reporting_Airline|_c0|Cancelled|CancellationCode|Diverted|
+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---+---------+----------------+--------+
|  0|1998|      1|    1|         2|        5|1998-01-02|               NW|                   19386|                         NW|     N297US|                            675|  0|      0.0|            null|     0.0|
|  1|2009|      2|    5|        28|        4|2009-05-28|               FL|                   20437|                         FL|     N946AT|                            671|  1|      0.0|            null|     0.0|
+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---+---------+----------------+--------+
only showing top 2 rows

In [49]:
#Join two dataframe query 
DelayDF1 = AirlineTimeInfo.select('_c0','Year').filter((AirlineTimeInfo.Year >= 2015) & (AirlineTimeInfo.Year <= 2020)).join(AirlineInfo.select('_c0','Reporting_Airline').groupBy('Reporting_Airline').count(), AirlineTimeInfo._c0 == AirlineInfo._c0, "inner").withColumnRenamed("count","Total Flights")

In [50]:
DelayDF1.show()

+---+----+-----------------+-------------+
|_c0|Year|Reporting_Airline|Total Flights|
+---+----+-----------------+-------------+
|  7|2019|               UA|         4830|
|  7|2019|               EA|          237|
|  7|2019|               PI|          238|
|  7|2019|               NK|          213|
|  7|2019|               PS|           16|
|  7|2019|               AA|         5834|
|  7|2019|               NW|         2792|
|  7|2019|               EV|         1749|
|  7|2019|               B6|          905|
|  7|2019|               HP|          899|
|  7|2019|               TW|          949|
|  7|2019|               DL|         6691|
|  7|2019|               OO|         2719|
|  7|2019|               F9|          372|
|  7|2019|               YV|          562|
|  7|2019|               TZ|           54|
|  7|2019|               US|         4230|
|  7|2019|               MQ|         2015|
|  7|2019|               OH|          607|
|  7|2019|               HA|          304|
+---+----+-----------------+-------------+
only showing top 20 rows

In [51]:
AirlineInfo.select('Reporting_Airline').distinct().show()

+-----------------+
|Reporting_Airline|
+-----------------+
|               UA|
|               EA|
|               PI|
|               NK|
|               PS|
|               AA|
|               NW|
|               EV|
|               B6|
|               HP|
|               TW|
|               DL|
|               OO|
|               F9|
|               YV|
|               TZ|
|               US|
|               MQ|
|               OH|
|               HA|
+-----------------+
only showing top 20 rows

<h1> Create DataFrame </h1>

In [52]:
AirlineDF5 = AirlineDF.select("_c0","Year","Quarter", "Month", "DayofMonth", "DayofWeek" , \
                              "FlightDate","Reporting_Airline","DOT_ID_Reporting_Airline", \
                              "IATA_CODE_Reporting_Airline", "Tail_Number", "Flight_Number_Reporting_Airline", \
                              "OriginAirportID","OriginAirportSeqID", "OriginCityMarketID", "Origin", \
                              "OriginCityName" , "OriginState", "OriginStateFips", "OriginStateName", \
                              "OriginWac","DestAirportID","DestAirportSeqID", "DestCityMarketID", \
                              "Dest", "DestCityName" , "DestState", "DestStateFips", "DestStateName", \
                              "DestWac","CRSDepTime","DepTime", "DepDelay", "DepDelayMinutes", "DepDel15" , \
                              "DepartureDelayGroups", "DepTimeBlk", "TaxiOut", "WheelsOff","WheelsOn","TaxiIn", \
                              "CRSArrTime", "ArrTime", "ArrDelay" , "ArrDelayMinutes", "ArrDel15", \
                              "ArrivalDelayGroups", "ArrTimeBlk","Cancelled","CancellationCode", \
                              "Diverted","CRSElapsedTime","ActualElapsedTime", "AirTime", "Flights", \
                              "Distance" , "DistanceGroup","CarrierDelay","WeatherDelay", "NASDelay", \
                              "SecurityDelay", "LateAircraftDelay" )

In [53]:
#group by carrier and count number of flights in each group 
#Airline DF5.select('Year','Reporting_Airline').filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year<=2020)
#.groupBy('Reporting_Airline').count().show()

In [54]:
#AirlineDF5.selet('Year','Reporting_Airline').filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)).filter('Cancelled == 1 ').groupBy('Reporting_Airline').count().show()

<h1> Case study 1 </h1>

Departure Delay report for all flights year 2015 to 2020 by carrier

In [55]:
#Calculate total no of flights and group data by carrier 
df1 = AirlineDF5.select('Year','Reporting_Airline').filter((AirlineDF5.Year >= 2015) & (AirlineDF5.Year <= 2020)).groupBy('Reporting_Airline').count().withColumnRenamed("count","Total Flights").orderBy("Reporting_Airline")

In [56]:
df1.show()

+-----------------+-------------+
|Reporting_Airline|Total Flights|
+-----------------+-------------+
|               9E|          160|
|               AA|         1166|
|               AS|          297|
|               B6|          370|
|               DL|         1332|
|               EV|          449|
|               F9|          155|
|               G4|           55|
|               HA|          106|
|               MQ|          250|
|               NK|          213|
|               OH|          171|
|               OO|          972|
|               UA|          731|
|               US|           50|
|               VX|           51|
|               WN|         1783|
|               YV|          129|
|               YX|          206|
+-----------------+-------------+

In [57]:
#Calculate total no of Departure Delay flights
df2 = AirlineDF5.select('Reporting_Airline','DepDelayMinutes').filter((AirlineDF5.Year >= 2015) & (AirlineDF5.Year <= 2020)).filter('DepDelayMinutes >= 10').groupBy('Reporting_Airline').count().withColumnRenamed("count","Total Departure Delay Flights").orderBy('Reporting_Airline')

In [58]:
df2.show()

+-----------------+-----------------------------+
|Reporting_Airline|Total Departure Delay Flights|
+-----------------+-----------------------------+
|               9E|                           37|
|               AA|                          250|
|               AS|                           41|
|               B6|                           98|
|               DL|                          240|
|               EV|                           88|
|               F9|                           36|
|               G4|                           15|
|               HA|                           16|
|               MQ|                           61|
|               NK|                           50|
|               OH|                           43|
|               OO|                          199|
|               UA|                          163|
|               US|                            8|
|               VX|                           10|
|               WN|                          476|
|               YV|                           34|
|               YX|                           30|
+-----------------+-----------------------------+

In [59]:
#Calculate total no of arrival delay Flights 
df3 = AirlineDF5.select('Reporting_Airline', 'ArrDelayMinutes')\
.filter((AirlineDF5.Year>= 2015) & (AirlineDF5.Year <= 2020)) \
.filter('ArrDelayMinutes >= 10').groupBy('Reporting_Airline') \
.count().withColumnRenamed("count","Total ArrivalDelay Flights").orderBy("Reporting_Airline")

In [60]:
df3.show()

+-----------------+--------------------------+
|Reporting_Airline|Total ArrivalDelay Flights|
+-----------------+--------------------------+
|               9E|                        33|
|               AA|                       289|
|               AS|                        53|
|               B6|                        97|
|               DL|                       232|
|               EV|                       100|
|               F9|                        52|
|               G4|                        16|
|               HA|                        19|
|               MQ|                        79|
|               NK|                        58|
|               OH|                        51|
|               OO|                       220|
|               UA|                       170|
|               US|                        12|
|               VX|                        13|
|               WN|                       405|
|               YV|                        33|
|               YX|                        40|
+-----------------+--------------------------+

In [61]:
#Calculate total no. of cancelled flights 
df4 = AirlineDF5.select('Reporting_Airline','Cancelled') \
.filter((AirlineDF5.Year >= 2015) & (AirlineDF5.Year <= 2020)) \
.filter("Cancelled == 1").groupBy("Reporting_Airline") \
.count().withColumnRenamed("count", "Total Cancelled Flights").orderBy("Reporting_Airline")

In [62]:
df4.show()

+-----------------+-----------------------+
|Reporting_Airline|Total Cancelled Flights|
+-----------------+-----------------------+
|               9E|                      3|
|               AA|                     23|
|               B6|                      4|
|               DL|                      9|
|               EV|                     10|
|               F9|                      1|
|               MQ|                     13|
|               NK|                      3|
|               OH|                      2|
|               OO|                     17|
|               UA|                      7|
|               VX|                      1|
|               WN|                     33|
|               YV|                      8|
|               YX|                      6|
+-----------------+-----------------------+

In [63]:
# Calculate total no . of diverted flights 
df5 = AirlineDF5.select('Reporting_Airline','Diverted') \
.filter((AirlineDF5.Year >= 2015) & (AirlineDF5.Year <= 2020)) \
.filter("CarrierDelay > 0 ").groupBy("Reporting_Airline") \
.count().withColumnRenamed("count","Total CarrierDelay Flights ").orderBy("Reporting_Airline")

In [64]:
df5.show()

+-----------------+---------------------------+
|Reporting_Airline|Total CarrierDelay Flights |
+-----------------+---------------------------+
|               9E|                         10|
|               AA|                        123|
|               AS|                         14|
|               B6|                         61|
|               DL|                         99|
|               EV|                         44|
|               F9|                         16|
|               G4|                          8|
|               HA|                         11|
|               MQ|                         22|
|               NK|                         17|
|               OH|                         20|
|               OO|                         70|
|               UA|                         69|
|               US|                          4|
|               VX|                          2|
|               WN|                        220|
|               YV|                         15|
|               YX|                         14|
+-----------------+---------------------------+

In [65]:
#Calculate total no of carrier delay flights
df6 = AirlineDF5.select('Reporting_Airline','CarrierDelay') \
.filter((AirlineDF5.Year >= 2015) & (AirlineDF5.Year<=2020)) \
.filter("CarrierDelay > 0").groupBy('Reporting_Airline') \
.count().withColumnRenamed("count","Total CarrierDelay Flights").orderBy("Reporting_Airline")

In [66]:
df6.show()

+-----------------+--------------------------+
|Reporting_Airline|Total CarrierDelay Flights|
+-----------------+--------------------------+
|               9E|                        10|
|               AA|                       123|
|               AS|                        14|
|               B6|                        61|
|               DL|                        99|
|               EV|                        44|
|               F9|                        16|
|               G4|                         8|
|               HA|                        11|
|               MQ|                        22|
|               NK|                        17|
|               OH|                        20|
|               OO|                        70|
|               UA|                        69|
|               US|                         4|
|               VX|                         2|
|               WN|                       220|
|               YV|                        15|
|               YX|                        14|
+-----------------+--------------------------+

In [67]:
df7  = AirlineDF5.select('Reporting_Airline','WeatherDelay') \
.filter((AirlineDF5.Year >= 2015) & (AirlineDF5.Year<=2020)) \
.filter("WeatherDelay > 0").groupBy('Reporting_Airline') \
.count().withColumnRenamed("count","Total WeatherDelay Flights").orderBy("Reporting_Airline")

In [68]:
df7.show()

+-----------------+--------------------------+
|Reporting_Airline|Total WeatherDelay Flights|
+-----------------+--------------------------+
|               9E|                         2|
|               AA|                        23|
|               AS|                         1|
|               B6|                         5|
|               DL|                        16|
|               F9|                         1|
|               G4|                         4|
|               HA|                         2|
|               MQ|                        12|
|               NK|                         2|
|               OH|                         3|
|               OO|                        13|
|               UA|                         7|
|               US|                         1|
|               VX|                         3|
|               WN|                        11|
|               YV|                         2|
|               YX|                         3|
+-----------------+--------------------------+

In [69]:
df8  = AirlineDF5.select('Reporting_Airline','NASDelay') \
.filter((AirlineDF5.Year >= 2015) & (AirlineDF5.Year<=2020)) \
.filter("NASDelay > 0").groupBy('Reporting_Airline') \
.count().withColumnRenamed("count","Total NASDelay Flights").orderBy("Reporting_Airline")

In [70]:
df8.show()

+-----------------+----------------------+
|Reporting_Airline|Total NASDelay Flights|
+-----------------+----------------------+
|               9E|                    18|
|               AA|                   134|
|               AS|                    20|
|               B6|                    47|
|               DL|                   104|
|               EV|                    44|
|               F9|                    23|
|               G4|                     3|
|               MQ|                    40|
|               NK|                    44|
|               OH|                    21|
|               OO|                   102|
|               UA|                    78|
|               US|                     5|
|               VX|                     8|
|               WN|                   151|
|               YV|                     9|
|               YX|                    25|
+-----------------+----------------------+

In [71]:
#Calculate total no. of security delay flights
df9  = AirlineDF5.select('Reporting_Airline','SecurityDelay') \
.filter((AirlineDF5.Year >= 2015) & (AirlineDF5.Year<=2020)) \
.filter("SecurityDelay > 0").groupBy('Reporting_Airline') \
.count().withColumnRenamed("count","TotalSecurityDelay Flights").orderBy("Reporting_Airline")

In [72]:
df9.show()

+-----------------+--------------------------+
|Reporting_Airline|TotalSecurityDelay Flights|
+-----------------+--------------------------+
|               AA|                         1|
|               AS|                         1|
|               VX|                         1|
|               WN|                         1|
|               YV|                         1|
+-----------------+--------------------------+

In [73]:
#Calculate total no. of late aircraft delay flights
df10  = AirlineDF5.select('Reporting_Airline','LateAircraftDelay') \
.filter((AirlineDF5.Year >= 2015) & (AirlineDF5.Year<=2020)) \
.filter("LateAircraftDelay > 0").groupBy('Reporting_Airline') \
.count().withColumnRenamed("count","LateAircraftDelay Flights").orderBy("Reporting_Airline")

In [74]:
df10.show()

+-----------------+-------------------------+
|Reporting_Airline|LateAircraftDelay Flights|
+-----------------+-------------------------+
|               9E|                       17|
|               AA|                      114|
|               AS|                       14|
|               B6|                       44|
|               DL|                       76|
|               EV|                       43|
|               F9|                       20|
|               G4|                        8|
|               HA|                        7|
|               MQ|                       35|
|               NK|                       11|
|               OH|                       28|
|               OO|                       94|
|               UA|                       57|
|               US|                        4|
|               VX|                        3|
|               WN|                      214|
|               YV|                       10|
|               YX|                       13|
+-----------------+-------------------------+

In [75]:
#df1.join(df2,df1.Reporting_Airline == df2.Reporting_Airline, "inner" ).show(2)

In [76]:
#df1.join(df2.["Reporting_Airline"])\
#.join(df3,df1["Reporting_Airline"] == df3["Reporting_Airline"])\
#.show(2)

In [77]:
#joining multiple dataframe 
DelayReport = df1.alias("df1")\
.join(df2.alias("df2"),["Reporting_Airline"])\
.join(df3.alias("df3"),["Reporting_Airline"])\
.join(df4.alias("df4"),["Reporting_Airline"])\
.join(df5.alias("df5"),["Reporting_Airline"])\
.join(df6.alias("df6"),["Reporting_Airline"])\
.join(df7.alias("df7"),["Reporting_Airline"])\
.join(df8.alias("df8"),["Reporting_Airline"])\
.join(df9.alias("df9"),["Reporting_Airline"])\
.join(df10.alias("df10"),["Reporting_Airline"])

In [78]:
#complete delay report
DelayReport.show(5)

+-----------------+-------------+-----------------------------+--------------------------+-----------------------+---------------------------+--------------------------+--------------------------+----------------------+--------------------------+-------------------------+
|Reporting_Airline|Total Flights|Total Departure Delay Flights|Total ArrivalDelay Flights|Total Cancelled Flights|Total CarrierDelay Flights |Total CarrierDelay Flights|Total WeatherDelay Flights|Total NASDelay Flights|TotalSecurityDelay Flights|LateAircraftDelay Flights|
+-----------------+-------------+-----------------------------+--------------------------+-----------------------+---------------------------+--------------------------+--------------------------+----------------------+--------------------------+-------------------------+
|               AA|         1166|                          250|                       289|                     23|                        123|                       123|                        23|                   134|                         1|                      114|
|               YV|          129|                           34|                        33|                      8|                         15|                        15|                         2|                     9|                         1|                       10|
|               VX|           51|                           10|                        13|                      1|                          2|                         2|                         3|                     8|                         1|                        3|
|               WN|         1783|                          476|                       405|                     33|                        220|                       220|                        11|                   151|                         1|                      214|
+-----------------+-------------+-----------------------------+--------------------------+-----------------------+---------------------------+--------------------------+--------------------------+----------------------+--------------------------+-------------------------+

In [80]:
#statistics of DelayReport
DelayReport.describe().show()

+-------+-----------------+-----------------+-----------------------------+--------------------------+-----------------------+---------------------------+--------------------------+--------------------------+----------------------+--------------------------+-------------------------+
|summary|Reporting_Airline|    Total Flights|Total Departure Delay Flights|Total ArrivalDelay Flights|Total Cancelled Flights|Total CarrierDelay Flights |Total CarrierDelay Flights|Total WeatherDelay Flights|Total NASDelay Flights|TotalSecurityDelay Flights|LateAircraftDelay Flights|
+-------+-----------------+-----------------+-----------------------------+--------------------------+-----------------------+---------------------------+--------------------------+--------------------------+----------------------+--------------------------+-------------------------+
|  count|                4|                4|                            4|                         4|                      4|                          4|                         4|                         4|                     4|                         4|                        4|
|   mean|             null|           782.25|                        192.5|                     185.0|                  16.25|                       90.0|                      90.0|                      9.75|                  75.5|                       1.0|                    85.25|
| stddev|             null|838.6947696669313|            217.6442050687314|        193.13553099658628|     14.453949863849212|         102.23828376232979|        102.23828376232979|           9.7082439194738|     77.67668032728142|                       0.0|         99.7175176853763|
|    min|               AA|               51|                           10|                        13|                      1|                          2|                         2|                         2|                     8|                         1|                        3|
|    max|               YV|             1783|                          476|                       405|                     33|                        220|                       220|                        23|                   151|                         1|                      214|
+-------+-----------------+-----------------+-----------------------------+--------------------------+-----------------------+---------------------------+--------------------------+--------------------------+----------------------+--------------------------+-------------------------+

In [88]:
#import windows library
import pyspark.sql.functions as f
from pyspark.sql.window import Window

In [92]:
#Calculate result in percentage
df123 = DelayReport\
.withColumn('depdelaypercent', f.col('Total Departure Delay Flights')/f.col('Total Flights')*100)\
.withColumn('arrdelaypercent', f.col('Total ArrivalDelay Flights')/f.col('Total Flights')*100)\
.withColumn('cancelledpercent', f.col('Total Cancelled Flights')/f.col('Total Flights')*100)

In [93]:
#DelayReport.groupBy().max('Total Departure Delay Flights').show()

In [94]:
df123.select('Reporting_Airline','Total Flights', 'depdelaypercent', 'arrdelaypercent','cancelledpercent').show()

+-----------------+-------------+------------------+------------------+------------------+
|Reporting_Airline|Total Flights|   depdelaypercent|   arrdelaypercent|  cancelledpercent|
+-----------------+-------------+------------------+------------------+------------------+
|               AA|         1166|21.440823327615778| 24.78559176672384|1.9725557461406518|
|               YV|          129|26.356589147286826|25.581395348837212|   6.2015503875969|
|               VX|           51|19.607843137254903| 25.49019607843137|1.9607843137254901|
|               WN|         1783| 26.69657879977566|22.714526079641054|1.8508132361189005|
+-----------------+-------------+------------------+------------------+------------------+

In [96]:
#use dense rank for find top rankers by any columns
from pyspark.sql import Window
import pyspark.sql.functions as psf

wT_Flights = Window.orderBy(psf.desc("Total Flights"))
testdf1 = DelayReport.withColumn("Total Flights_rank", psf.dense_rank().over(wT_Flights))

In [97]:
#top 10 Carrier by number of flights 
testdf1.show()

+-----------------+-------------+-----------------------------+--------------------------+-----------------------+---------------------------+--------------------------+--------------------------+----------------------+--------------------------+-------------------------+------------------+
|Reporting_Airline|Total Flights|Total Departure Delay Flights|Total ArrivalDelay Flights|Total Cancelled Flights|Total CarrierDelay Flights |Total CarrierDelay Flights|Total WeatherDelay Flights|Total NASDelay Flights|TotalSecurityDelay Flights|LateAircraftDelay Flights|Total Flights_rank|
+-----------------+-------------+-----------------------------+--------------------------+-----------------------+---------------------------+--------------------------+--------------------------+----------------------+--------------------------+-------------------------+------------------+
|               WN|         1783|                          476|                       405|                     33|                        220|                       220|                        11|                   151|                         1|                      214|                 1|
|               AA|         1166|                          250|                       289|                     23|                        123|                       123|                        23|                   134|                         1|                      114|                 2|
|               YV|          129|                           34|                        33|                      8|                         15|                        15|                         2|                     9|                         1|                       10|                 3|
|               VX|           51|                           10|                        13|                      1|                          2|                         2|                         3|                     8|                         1|                        3|                 4|
+-----------------+-------------+-----------------------------+--------------------------+-----------------------+---------------------------+--------------------------+--------------------------+----------------------+--------------------------+-------------------------+------------------+

In [98]:
testdf1.columns

['Reporting_Airline',
 'Total Flights',
 'Total Departure Delay Flights',
 'Total ArrivalDelay Flights',
 'Total Cancelled Flights',
 'Total CarrierDelay Flights ',
 'Total CarrierDelay Flights',
 'Total WeatherDelay Flights',
 'Total NASDelay Flights',
 'TotalSecurityDelay Flights',
 'LateAircraftDelay Flights',
 'Total Flights_rank']

In [99]:
testdf1.select('Reporting_Airline', 'Total Flights', 'Total Flights_rank').show()

+-----------------+-------------+------------------+
|Reporting_Airline|Total Flights|Total Flights_rank|
+-----------------+-------------+------------------+
|               WN|         1783|                 1|
|               AA|         1166|                 2|
|               YV|          129|                 3|
|               VX|           51|                 4|
+-----------------+-------------+------------------+